/* General reset */
body {
  margin: 0;
  font-family: 'Andy Pro', sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100%;
  width: auto;
  max-height: 100vh;
}

#iceberg-image {
  max-height: 100%;
  max-width: 100%;
  display: block;
}


.entries {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.entry {
  position: absolute;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.entry:hover {
  color: #000000;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
